@import "tailwindcss";


:root {
  font-family: 'Outfit', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #ffffff;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000;
}

#root {
  width: 100%;
}

.glass-card {
  background: rgba(255, 255, 255, 0.03);
  /* Extremely subtle white */
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.75rem;
  /* slightly sharper */
}

.gradient-text {
  background: white;
  /* Solid white for minimalism */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
  /* Fallback */
}